HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.properties
!**/src/main/**/build/
!**/src/test/**/build/
gradle-app.setting
.gradletasknamecache


### OS ###
*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

src/main/java/com/example/appregistrycomponent/log/*
src/main/resources/db/*